<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bayres No Problem</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">-->
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/classic.css">
    <link rel="stylesheet" href="stylesheets/ac-parallax.css">
    <!--link rel="stylesheet" href="css-min/style.min.css">
    <link rel="stylesheet" href="css-min/classic.min.css">
    <link rel="stylesheet" href="css-min/ac-parallax.min.css"-->
    <!--<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>-->
</head>
<body ng-controller="MainController as mainCtrl" ng-class="{'debug-on':mainCtrl.debug}" ng-cloak>
<div id="agreement-form" ng-if="!mainCtrl.aceptoAgreement">
    <div id="agreement-form-container">
        <div class="agreement-logo">
            <!--div class="agreement-logo-img"></div-->
        </div>

        <div class="agreement-titulo">CONDICIONES DE INGRESO A ESTA WEB</div>
        <h2 class="agreement-text">Para entrar en nuestra web DEBES SER MAYOR DE EDAD. Bayres no problem GrowShop no se hace
            responsable del uso indebido que se le pueda dar a cualquiera de nuestros productos, que son completamente
            legales en Argentina.
            Bayres no problem GrowShop desarrolla su actividad comercial mediante el ofrecimiento virtual de variados
            productos o articulos de licito comercio en Argentina.
            Bayres no problem Grow Shop insta a la responsabilidad y diligencia de cada persona sobre los actos propios y en
            ningun caso invita ni incita a sus clientes a actuar de forma contraria a la ley, solicitando al cliente un uso
            noble, recto, responsable y diligente de los articulos o productos adquiridos.
            Si entras a esta web significa que eres MAYOR DE EDAD, que ENTIENDES y ACEPTAS las normas expuestas
            anteriormente.</h2>

        <!--div class="agreement-contenedor-boton"-->
        <div class="botonera" style="margin-bottom: 50px;">
            <button ng-click="mainCtrl.aceptoAgreement=true;mainCtrl.cambiarSlide();">Acepto</button>
            <button ng-click="mainCtrl.aceptoAgreement=false;mainCtrl.noAcepto();">No Acepto</button>
        </div>

    </div>
</div>

<div id="top">

    <div id="login">
        <div class="outer-center outer-top">
            <div class="inner-center inner-top" style="margin-top: 5px">
                <div ng-if="!mainCtrl.user_is_logged">Bienvenido!
                    <a ng-click="mainCtrl.crearCliente();" href="">Nuevo usuario </a>  o
                    <a ng-click="mainCtrl.ingresarCliente();" href="">Ya estoy registrado</a>
                    <!--button-- ng-click="mainCtrl.debug = !mainCtrl.debug">debug</button-->
                </div>
                <div ng-if="mainCtrl.user_is_logged">Bienvenido {{mainCtrl.cliente.nombre}}! <a
                        ng-click="mainCtrl.logout()"
                        href="">Salir</a>
                </div>
            </div>
        </div>
    </div>
    <div id="shop">

        <div class="outer-center outer-top">
            <div class="inner-center inner-top shop-menu" style="margin-top: 0">
                <div id="menu-mobile" ng-if="mainCtrl.menu_mobile">
                    <div class="nav-button"
                         ng-click="mainCtrl.menu_mobile_open = !mainCtrl.menu_mobile_open;"
                         ng-class="{'nav-button-transformed':navCtrl.closed}">
                        <div ng-class="{'nav-button-top-transformed':navCtrl.closed}"></div>
                        <div ng-class="{'nav-button-mid-transformed':navCtrl.closed}"></div>
                        <div ng-class="{'nav-button-bot-transformed':navCtrl.closed}"></div>
                    </div>
                </div>

                <div>
                    <div ng-click="mainCtrl.inicio();" id="menu-logo">
                        <img src="img/logo_top.png" alt="BayresNoProblem"/>
                    </div>
                </div>

                <div ng-if="!mainCtrl.menu_mobile" id="menu-spacer"></div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-home" ng-click="mainCtrl.inicio();"
                     ng-class="{'selected':mainCtrl.menu_selected == 'inicio'}">
                    <div><img src="img/home.png" alt="Inicio"/></div>
                </div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-categorias"
                     ng-init="mainCtrl.showCategorias = false"
                     ng-click="mainCtrl.mostrarCategorias();"
                     ng-mouseover="mainCtrl.showCategorias = true;"
                     ng-class="{'selected':mainCtrl.menu_selected == 'categorias'}"   >
                    <!--ng-click="mainCtrl.showCategorias = !mainCtrl.showCategorias;"-->
                    <span>Categorias</span>
                    <img src="img/categorias.png" height="20" style="margin-top: 3px"/>
                </div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-carrito" ng-click="mainCtrl.comprar('carrito');"
                     ng-class="{'selected':mainCtrl.menu_selected == 'carrito'}">
                    <span>Mi Carrito</span>
                </div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-account" ng-click="mainCtrl.cuenta();"
                     ng-class="{'selected':mainCtrl.menu_selected == 'cuenta'}">
                    <span>Mi Cuenta</span>
                </div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-checkout" ng-click="mainCtrl.comprar('finalizar');"
                     ng-class="{'selected':mainCtrl.menu_selected == 'finalizar'}">
                    <span>Finalizar Compra</span>
                </div>
                <div id="menu-detalle" ng-click="mainCtrl.carritoCompras();"
                     ng-class="{'with-products':mainCtrl.menu_selected == 'compras' || mainCtrl.with_products}">
                    <div class="detalle-compras"><img src="img/cart.png" alt="compras"/>
                        <span>Compras</span>
                    </div>
                    <div id="menu-detalle-bottom">
                        <ac-angular-carrito snipet="true" class="snipet"></ac-angular-carrito>
                    </div>
                </div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-contacto"
                     ng-class="{'selected':mainCtrl.menu_selected == 'contacto'}">
                    <span>Contacto</span>
                    <div class="centrar-sucursales">
                        <a  href="" title="Sucursal Flores" ng-click="mainCtrl.contacto(1);">
                            <img src="img/icono_suc01.png" height="15" width="30" style="margin-top: 3px"/>
                        </a>
                    </div>
                </div>
                <div ng-if="mainCtrl.showCategorias" id="menu-categorias-detalle" ng-mouseleave="mainCtrl.showCategorias = false;">
                    <div class="menu-categoria">
                        <div ng-click="mainCtrl.inicio();" class="margin-top menu-categoria-item">Inicio</div>
                        <div ng-click="mainCtrl.comprar();" class="menu-categoria-item">Mi Carrito</div>
                        <div ng-click="mainCtrl.cuenta();" class="menu-categoria-item">Mi Cuenta</div>
                        <div ng-click="mainCtrl.comprar();" class="menu-categoria-item">Finalizar Compra</div>
                    </div>
                    <div ng-repeat="categoria in mainCtrl.categorias">
                        <div class="menu-subcategoria">
                            <div ng-click="mainCtrl.getByCategoria(categoria.categoria_id);">{{categoria.nombre}}</div>
                            <div ng-repeat="subcategoria in categoria.subcategorias" ng-click="mainCtrl.getByCategoria(subcategoria.categoria_id);">
                                <spam class="subcategoria">{{subcategoria.nombre}} (<span style="color: #ffff00;">{{subcategoria.total_categoria}}</span>)</spam>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="menu-mobile-detail" ng-if="mainCtrl.menu_mobile && mainCtrl.menu_mobile_open">

                    <div ng-click="mainCtrl.inicio();" class="margin-top menu-categoria-item">Inicio</div>
                    <div ng-click="mainCtrl.comprar();" class="menu-categoria-item">Mi Carrito</div>
                    <div ng-click="mainCtrl.cuenta();" class="menu-categoria-item">Mi Cuenta</div>
                    <div ng-click="mainCtrl.comprar();" class="menu-categoria-item">Finalizar Compra</div>
                    <div ng-click="mainCtrl.contacto(1);" class="menu-categoria-item">Contacto</div>
                    <div class="margin-top">CATEGORIAS:</div>
                    <div ng-repeat="categoria in mainCtrl.categorias" class="sub-categoria">
                        <div ng-click="mainCtrl.getByCategoria(categoria.categoria_id);">{{categoria.nombre}}</div>
                        <div ng-repeat="subcategoria in categoria.subcategorias" ng-click="mainCtrl.getByCategoria(subcategoria.categoria_id);">
                            <spam class="subcategoria">{{subcategoria.nombre}} (<span style="color: #ffff00;">{{subcategoria.total_categoria}}</span>)</spam>
                        </div>
                    </div>
                </div>
                <div id="courtain" ng-if="mainCtrl.menu_mobile && mainCtrl.menu_mobile_open"></div>
            </div>
        </div>
    </div>
</div>


<div class="parallax" id="parallax">
    <div id="sucursales" class="parallax__group">
        <div id="sucursales-06" class="parallax__layer parallax__layer--deeper-4"></div>
        <div id="sucursales-05" class="parallax__layer parallax__layer--deeper-4"></div>
        <div id="sucursales-04" class="parallax__layer parallax__layer--deeper-3"></div>
        <div id="sucursales-03" class="parallax__layer parallax__layer--deeper-3"></div>
        <div id="sucursales-02" class="parallax__layer parallax__layer--deeper-2"></div>
        <div id="sucursales-01" class="parallax__layer "></div>
        <!--div id="contacto-sucursal-03" ng-click="mainCtrl.contacto(3);"></div>
        <div id="contacto-sucursal-02" ng-click="mainCtrl.contacto(2);"></div>
        <div-- id="contacto-sucursal-01" ng-click="mainCtrl.contacto(1);"></div-->

        <div id="contact-detail" ng-if="mainCtrl.active_form == 'contact';" class="outer-center">
            <div class="contenedor inner-center">
                <div class="lineacontornoverde">
                    <div class="rectangulogrisoscuro">
                        <div class="contenedor-inner-contacto-mapa">
                            <div class="column">
                                <P class="Contacto">CONTACTO</P>

                                <P class="Nombre">Nombre:</P>
                                <input type="text" class="input1" ng-model="mainCtrl.nombreContacto"/>

                                <P class="Apellido">Apellido:</P>
                                <input type="text" class="input2" ng-model="mainCtrl.apellidoContacto"/>

                                <P class="Email">E-mail:</P>
                                <input type="text" class="input3" ng-model="mainCtrl.emailContacto"/>

                                <P class="Consulta">Consulta:</P>
                                <textarea rows="5" class="input4" ng-model="mainCtrl.consulta"></textarea>

                                <div class="botonera">
                                    <button ng-click="mainCtrl.enviarConsulta();">Enviar Mail</button>
                                    <button ng-click="mainCtrl.inicio();" id="contacto-volver">Volver</button>
                                </div>
                                <div ng-if="mainCtrl.contacto_enviado == '1'" class="mensaje">{{mainCtrl.message_error}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="legales" ng-if="mainCtrl.active_form == 'legales';" class="outer-center">
            <div class="contenedor inner-center">
                <div class="lineacontornoverde-2">
                    <div class="rectangulogrisoscuro">
                        <div class="contenedor-inner-contacto-mapa">
                            <div class="column">
                                <P class="Contacto">{{mainCtrl.tituloLegales}}</P>

                                <P class="texto-legales">{{mainCtrl.textoLegales}}</P>

                                <div class="botonera">
                                    <button ng-click="mainCtrl.volverLegales();" id="legales-volver">Volver</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div id="menu" class="parallax__layer parallax__layer--base">
        <div id="menu-container">
            <div class="outer-center">
                <div class="inner-center search-box">
                    <div>
                        <input ng-model="mainCtrl.search" type="text"
                               ng-change="mainCtrl.searchByName();" placeholder="Buscar..."
                               ng-keyup="mainCtrl.goToResultado($event);" />
                        <span class="clear" ng-click="mainCtrl.search=''; mainCtrl.active_form = 'main';">x</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="outer-center search-results-container">
            <div class="inner-center">
                <!--DETALLE-->
                <div id="item-detail" ng-if="mainCtrl.active_form == 'details';">
                    <div class="title-results">DETALLE</div>
                    <div id="producto_detail">
                        <div class="outline">
                            <div class="picture_name">
                                <!--img ng-src="./img/{{destacado.fotos[0].nombre}}" alt="{{destacado.nombre}}"/-->
                                <img ng-src="./img/{{mainCtrl.detalle.fotos[0].nombre}}"
                                     alt="{{mainCtrl.detalle.nombre}}"/>
                                <div>{{mainCtrl.detalle.nombre}}</div>
                            </div>
                            <div>
                                <div class="detail_descripcion">
                                    {{mainCtrl.detalle.descripcion}}
                                </div>
                                <div class="btn-group" style="position: absolute; right: 0%;">
                                    <!--div class="spacer"></div-->
                                    <div class="btn-comprar-detalle detalle"
                                         ng-click="mainCtrl.agregarProducto(mainCtrl.detalle)">
                                        <div class="btn-comprar-position" style="margin-right:40px">
                                            <span style="color:red;">$ </span>{{mainCtrl.detalle.precios[0].precio}}
                                        </div>
                                    </div>

                                    <!--<div ng-if="mainCtrl.detalle.oferta_id !== -1" class="btn-comprar-detalle" ng-click="mainCtrl.agregarOferta(destacado)">-->
                                    <!--<div class="btn-comprar-position" style="margin-right:40px">-->
                                    <!--<span style="color:red;">$ </span>{{mainCtrl.detalle.precios[0].precio}}-->
                                    <!--</div>-->
                                    <!--</div>-->

                                </div>
                            </div>

                        </div>
                        <div class="btn-close-detalle" ng-click="mainCtrl.hideDetails(mainCtrl.detalle);"></div>
                    </div>
                </div>


                <!--SEARCH-->
                <div id="search-results" ng-if="mainCtrl.active_form == 'search';">
                    <!--div class="title-results">RESULTADOS</div-->
                    <div class="title-results">{{mainCtrl.searchTitle}}</div>
                    <div id="productos_list">
                        <div class="destacado" ng-repeat="destacado in mainCtrl.productos" title="{{destacado.nombre}}">
                            <div class="outline">
                                <div class="producto-nombre">{{destacado.nombre.toUpperCase()}}</div>
                                <img ng-src="./img/{{destacado.fotos[0].nombre}}" alt="{{destacado.nombre}}"/>

                                <div class="btn-group">

                                    <div class="btn-comprar">
                                        <button ng-click="mainCtrl.agregarProducto(destacado)">
                                            <!--<img src="./img/boton.png" alt=""/>-->
                                            <span>$</span>{{destacado.precios[0].precio}}
                                        </button>
                                    </div>
                                    <div class="btn-info" ng-click="mainCtrl.showDetails(destacado);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--LOGIN-->
                <div id="login-form" ng-if="mainCtrl.active_form == 'login';">
                    <div ng-if="mainCtrl.creaCliente" class="title-results">Registro</div>
                    <div ng-if="!mainCtrl.creaCliente" class="title-results">Ingresá</div>
                    <!--<div id="login_form">-->
                    <div id="login-form-container" style="margin-top: 12%;">
                        <div ng-if="mainCtrl.usuario_creado == '-1'" class="mensaje-error">{{mainCtrl.message_error}}</div>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.nombre" placeholder="Nombre"
                               ng-class="{'input-error' : mainCtrl.error_code == '1'}"
                               type="text"/>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.apellido" placeholder="Apellido"
                               ng-class="{'input-error' : mainCtrl.error_code == '2'}"
                               type="text"/>
                        <!--<input ng-model="mainCtrl.mail" placeholder="Mail" type="text"/>-->
                        <input ng-if="mainCtrl.creaCliente"
                               ng-model="mainCtrl.fecha_nacimiento" placeholder="Fecha de Nacimiento (dd/mm/aaaa)"
                               ng-class="{'input-error' : mainCtrl.error_code == '3'}"
                               type="text"/>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.telefono" placeholder="Telefono"
                               ng-class="{'input-error' : mainCtrl.error_code == '4'}"
                               type="text"/>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.direccion" placeholder="Dirección"
                               ng-class="{'input-error' : mainCtrl.error_code == '5'}"
                               type="text"/>
                        <input ng-model="mainCtrl.mail" placeholder="Mail"
                               ng-class="{'input-error' : mainCtrl.error_code == '6'}"
                               type="text"/>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.mail_repeat" placeholder="Repita Mail"
                               ng-class="{'input-error' : mainCtrl.error_code == '7'}"
                               type="text"/>
                        <input ng-model="mainCtrl.password" type="password" placeholder="Password"
                               ng-keyup="mainCtrl.ingresarClienteEnter($event);"
                               ng-class="{'input-error' : mainCtrl.error_code == '8'}"/>
                        <label ng-if="mainCtrl.creaCliente" class="news-letter">
                            <input type="checkbox" ng-model="mainCtrl.newsLetter" style="width: 30px;"><span>Suscribirse a Newsletter</span>
                        </label>

                        <div ng-if="mainCtrl.recovery_pwd == '1'" >
                            <a ng-click="mainCtrl.recoveryPwd();" href="" class="recovery-pwd">Recuperar contraseña</a>
                        </div>
                        <div>
                            <button ng-if="!mainCtrl.creaCliente" ng-click="mainCtrl.ingresar();">Aceptar</button>
                            <button ng-if="!mainCtrl.creaCliente" ng-click="mainCtrl.goToCrearCliente();">Nuevo Usuario</button>
                        </div>
                        <div style="margin-bottom: 20px">
                            <button ng-if="mainCtrl.creaCliente" ng-click="mainCtrl.nuevoCliente();">Aceptar</button>
                            <button ng-if="mainCtrl.creaCliente" ng-click="mainCtrl.goToIngresar();">Ingresar</button>
                        </div>

                        <!--div-- ng-if="mainCtrl.usuario_creado == '-1'" style="color:#fff;">{{mainCtrl.message_error}}</div-->
                    </div>
                    <!--</div>-->
                </div>

                <!--MI CUENTA-->
                <div id="cuenta-form" ng-if="mainCtrl.active_form == 'cuenta';">
                    <div class="title-results">Mi Cuenta</div>
                    <!--<div id="login_form">-->
                    <div id="cuenta-form-container">
                        <div class="border-form-container" style="flex-direction:row;">
                            <div style="min-height:180px;">
                                <div class="cliente-form-container">
                                    <div class="mi-cuenta-titulo">
                                        <label class="title-mi-cuenta">Modificar datos personales</label>
                                    </div>
                                    <div class="flexcontainer">
                                        <div class="row-3">
                                            <div class="cuenta-controls">
                                                <label for="">Apellido</label><br>
                                                <input ng-model="mainCtrl.cliente.apellido" placeholder="Apellido"
                                                       type="text"/>
                                            </div>
                                            <div class="cuenta-controls">
                                                <label for="">Nombre</label><br>
                                                <input ng-model="mainCtrl.cliente.nombre" placeholder="Nombre"
                                                       type="text"/>
                                            </div>
                                        </div>
                                        <div class="row-3">
                                            <div class="cuenta-controls">
                                                <label for="">Mail</label><br>
                                                <input ng-model="mainCtrl.cliente.mail" placeholder="Mail" type="text"/>
                                            </div>
                                            <div class="cuenta-controls">
                                                <label for="">Dirección</label><br>
                                                <input ng-model="mainCtrl.cliente.direccion" placeholder="Dirección"
                                                       type="text"/>
                                            </div>
                                        </div>
                                        <div class="row-1">
                                            <label ng-if="!mainCtrl.creaCliente" class="news-letter">
                                                <span>Newsletter</span>
                                                <input type="checkbox" ng-model="mainCtrl.newsLetterToUpdate" style="width: 30px;">
                                            </label>
                                            <div class="margin-button" style="margin-top:0">
                                                <button ng-if="!mainCtrl.creaCliente" ng-click="mainCtrl.actualizarCliente();" class="small-button" style="margin-top:17px">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="mainCtrl.update_error == '1'" style="color:#8CC63F;font-size: 14px;">
                                        {{mainCtrl.message_error}}
                                    </div>
                                </div>
                                <div class="password-form-container">
                                    <div class="mi-cuenta-titulo">
                                        <label class="title-mi-cuenta">Modificar Contraseña</label>
                                    </div>
                                    <div class="flexcontainer">
                                        <!--div style="flex:1;"-->
                                        <!--div class="cuenta-input"-->
                                        <div class="row-3">
                                            <div class="cuenta-controls">
                                                <label for="">Contraseña vieja</label><br>
                                                <input ng-model="mainCtrl.pass_old" placeholder="Contraseña vieja"
                                                       type="password"/>
                                            </div>
                                            <div class="cuenta-controls">
                                                <label for="">Contraseña nueva</label><br>
                                                <input ng-model="mainCtrl.pass_new" placeholder="Contraseña nueva"
                                                       type="password"/>
                                            </div>
                                        </div>
                                        <div class="row-1">
                                            <div class="margin-button">
                                                <button ng-click="mainCtrl.modificarPass();"
                                                        class="small-button">Ok
                                                </button>
                                            </div>
                                        </div>

                                        <!--/div-->
                                    </div>
                                    <div ng-if="mainCtrl.change_pwd_error == '1'" style="color:#8CC63F;font-size: 14px;">
                                        {{mainCtrl.message_error}}
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div style="margin-top: 15px;">
                                <div class="historial-pedidos-form-container">
                                    <div class="ultimos-pedidos">
                                        <label class="title-mi-cuenta" style="margin-right: 10px">Ultimos pedidos</label>
                                        <select ng-click="mainCtrl.detalle = mainCtrl.pedido.detalles;"
                                                ng-change="mainCtrl.getPedidoSelected(mainCtrl.pedido);"
                                                ng-model="mainCtrl.pedido"
                                                ng-options="pedido.carrito_id + ' - ' + pedido.fecha + ' - ' + pedido.total for  pedido in mainCtrl.historico_pedidos"
                                                class="mob-pedidos">
                                        </select>
                                    </div>
                                    <div id="detalle-pedido">
                                        <div class="detalle-fila" style="width: 100%;">
                                            <label class="producto-titulo">Producto</label>
                                            <label class="producto-titulo-2">Cant.</label>
                                            <label class="producto-titulo-2">Precio U.</label>
                                            <label class="producto-titulo-2">Precio</label>
                                            <!--input ng-model="detalle.total" ng-init="detalle.total = detalle.precio * detalle.cantidad;" type="text" readonly class="info-detalle"/-->
                                        </div>
                                        <div ng-repeat="detalle in mainCtrl.detalle">
                                            <div class="detalle-fila">
                                                <label class="producto-nombre-2">{{detalle.nombre}}: </label>
                                                <span class="producto-cantidad">{{detalle.cantidad}}</span>
                                                <span class="producto-precio">{{detalle.precio | currency}}</span>
                                                <span class="producto-precio">{{detalle.precio * detalle.cantidad | currency}}</span>
                                                <a href="" ng-click="mainCtrl.agregarCarrito(detalle);">
                                                    <img src="img/cart.png" title="Agregar Producto al Carrito" />
                                                </a>
                                                <!--input ng-model="detalle.total" ng-init="detalle.total = detalle.precio * detalle.cantidad;" type="text" readonly class="info-detalle"/-->
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: inline-block;width: 100%;">
                                        <div class="flexcontainer">
                                            <div class="flexcontainer-1">
                                                <button ng-click="mainCtrl.cancelarCarrito(mainCtrl.pedido);" id="cancelar-pedido">Cancelar Pedido</button>
                                                <button ng-click="mainCtrl.repetirCarrito(mainCtrl.pedido);" class="btn-pedilo">Pedilo!</button>
                                            </div>
                                            <div class="flexcontainer-1">
                                                <div style="float: right;margin-top: 25px;">
                                                    <label class="cuenta-subtotal"
                                                           style="margin-right: 10px">Subtotal:</label>
                                                    <input ng-model="mainCtrl.pedido.total" type="text"
                                                           readonly
                                                           class="pedido-total"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="mainCtrl.carrito_mensaje == '1'"
                                             style="color:#8CC63F;font-size: 24px;text-align: center;">{{mainCtrl.message_error}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>


                <!--CARRITO-->
                <div id="carrito-form" ng-if="mainCtrl.active_form == 'carrito'">
                    <div class="title-results">Carrito</div>
                    <div id="carrito-form-container">

                        <ac-angular-carrito ng-if="!mainCtrl.compraTerminada" snipet="false"></ac-angular-carrito>

                        <div ng-if="!mainCtrl.compraTerminada" id="carrito-retira-por">

                            <div style="display: flex;">
                                <select ng-model="mainCtrl.tipo" ng-init="mainCtrl.tipo='0'" name="" id="tipo">
                                    <option value="0">Envio a</option>
                                    <option value="1">Retira por</option>

                                </select>

                                <select ng-if="mainCtrl.tipo == 1"
                                        ng-model="mainCtrl.sucursal"
                                        ng-options="sucursal.nombre for sucursal in mainCtrl.sucursales" name="" id="">

                                </select>
                                <select ng-if="mainCtrl.tipo == 0"
                                        ng-model="mainCtrl.envios" name="" id="tipo_envio">
                                    <option value="Gran Buenos Aires" selected>Gran Buenos Aires</option>
                                    <option value="Capital Federal" selected>Capital Federal</option>
                                    <option value="Interior del Pais">Interior del Pais</option>
                                </select>
                            </div>
                        </div>
                        <div class="info-envios">{{mainCtrl.info_envio}}</div>
                        <button ng-if="!mainCtrl.compraTerminada" ng-click="mainCtrl.finalizarCompra();">Pedilo!
                        </button>

                        <div class="carrito-compra-terminada"
                             ng-if="mainCtrl.compraTerminada">
                            <img src="img/compra_terminada.png" alt=""/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="tierra" class="parallax__group">

        <!--<div>-->
        <div id="tierra_04" class="parallax__layer parallax__layer--base"></div>
        <div id="tierra_03" class="parallax__layer parallax__layer--base"></div>
        <div id="tierra_02" class="parallax__layer parallax__layer--base"></div>
        <div id="tierra_01" class="parallax__layer parallax__layer--base"></div>

        <!--</div>-->
        <div id="ofertas" ng-if="mainCtrl.active_form == 'main';">
            <div id="ofertas-container-01" ng-if="mainCtrl.slider_nro == 1;">

                <img ng-src="./img/{{mainCtrl.ofertas[0].imagen}}" alt="{{mainCtrl.ofertas[0].imagen}}"/>
                <span class="oferta-titulo">{{mainCtrl.ofertas[0].titulo}}</span>

                <p>{{mainCtrl.ofertas[0].descripcion.substring(0, 120) + "..."}}</p>

                <div class="btn-group">
                    <div class="btn-comprar" ng-click="mainCtrl.agregarOferta(mainCtrl.ofertas[0])">
                        <div class="btn-comprar-position">
                            <span style="color:red;">$ </span>{{mainCtrl.ofertas[0].precio}}
                        </div>
                    </div>
                    <div class="btn-info" ng-click="mainCtrl.showDetailsOferta(mainCtrl.ofertas[0]);"></div>
                </div>
            </div>
            <div id="ofertas-container-02" ng-if="mainCtrl.slider_nro == 2;">
                <img ng-src="./img/{{mainCtrl.ofertas[1].imagen}}" alt="{{mainCtrl.ofertas[1].imagen}}"/>
                <span class="oferta-titulo">{{mainCtrl.ofertas[1].titulo}}</span>

                <p>{{mainCtrl.ofertas[1].descripcion.substring(0, 120) + "..."}}</p>

                <div class="btn-group">
                    <div class="btn-comprar" ng-click="mainCtrl.agregarOferta(mainCtrl.ofertas[1])">
                        <div class="btn-comprar-position">
                            <span style="color:red;">$ </span>{{mainCtrl.ofertas[1].precio}}
                        </div>
                    </div>
                    <div class="btn-info" ng-click="mainCtrl.showDetailsOferta(mainCtrl.ofertas[1]);"></div>
                </div>
            </div>
            <div id="ofertas-container-03" ng-if="mainCtrl.slider_nro == 3;">
                <img ng-src="./img/{{mainCtrl.ofertas[2].imagen}}" alt="{{mainCtrl.ofertas[2].imagen}}"/>
                <span class="oferta-titulo">{{mainCtrl.ofertas[2].titulo}}</span>

                <p>{{mainCtrl.ofertas[2].descripcion.substring(0, 120) + "..."}}</p>

                <div class="btn-group">
                    <div class="btn-comprar" ng-click="mainCtrl.agregarOferta(mainCtrl.ofertas[2])">
                        <div class="btn-comprar-position">
                            <span style="color:red;">$ </span>{{mainCtrl.ofertas[2].precio}}
                        </div>
                    </div>
                    <div class="btn-info" ng-click="mainCtrl.showDetailsOferta(mainCtrl.ofertas[2]);"></div>
                </div>
            </div>
            <div id="ofertas-container-04" ng-if="mainCtrl.slider_nro == 4;">
                <img ng-src="./img/{{mainCtrl.ofertas[3].imagen}}" alt="{{mainCtrl.ofertas[3].imagen}}"/>
                <span class="oferta-titulo">{{mainCtrl.ofertas[3].titulo}}</span>

                <p>{{mainCtrl.ofertas[3].descripcion.substring(0, 120) + "..."}}</p>

                <div class="btn-group">
                    <div class="btn-comprar" ng-click="mainCtrl.agregarOferta(mainCtrl.ofertas[3])">
                        <div class="btn-comprar-position">
                            <span style="color:red;">$ </span>{{mainCtrl.ofertas[3].precio}}
                        </div>
                    </div>
                    <div class="btn-info" ng-click="mainCtrl.showDetailsOferta(mainCtrl.ofertas[3]);"></div>
                </div>
            </div>

            <!--div id="forward"
                 ng-click="(mainCtrl.slider_nro == 4)?mainCtrl.slider_nro=1:mainCtrl.slider_nro = mainCtrl.slider_nro + 1;">
                <
            </div>
            <div id="back"
                 ng-click="(mainCtrl.slider_nro == 1)?mainCtrl.slider_nro=4:mainCtrl.slider_nro = mainCtrl.slider_nro - 1;">
                >
            </div-->
            <div class="slider_1" ng-class="{slider_selected:mainCtrl.slider_nro==1}"
                 ng-click="mainCtrl.slider_nro=1;"></div>
            <div class="slider_2" ng-class="{slider_selected:mainCtrl.slider_nro==2}"
                 ng-click="mainCtrl.slider_nro=2;"></div>
            <div class="slider_3" ng-class="{slider_selected:mainCtrl.slider_nro==3}"
                 ng-click="mainCtrl.slider_nro=3;"></div>
            <div class="slider_4" ng-class="{slider_selected:mainCtrl.slider_nro==4}"
                 ng-click="mainCtrl.slider_nro=4;"></div>
        </div>


    </div>
    <div id="destacados" class="parallax__group">

        <!--<div>-->

        <div id="destacados_04"></div>
        <div id="destacados_03" class="parallax__layer parallax__layer--base"></div>
        <div id="destacados_01" class="parallax__layer parallax__layer--base"></div>
        <div id="destacados_02" class="parallax__layer parallax__layer--base"></div>
        <!--</div>-->

        <div class="title title-destacado  parallax__layer parallax__layer--base"
             ng-if="mainCtrl.active_form == 'main';">DESTACADOS
        </div>
        <div id="destacados_list" ng-if="mainCtrl.active_form == 'main';"
             class="">
            <div class="destacado-inner-list">
                <div class="destacado" ng-repeat="destacado in mainCtrl.destacados" title="{{destacado.nombre}}">
                    <div class="outline">
                        <div class="producto-nombre">{{destacado.nombre.toUpperCase()}}</div>
                        <img ng-src="./img/{{destacado.fotos[0].nombre}}" alt="{{destacado.nombre}}"/>

                        <div class="btn-group">

                            <div class="btn-comprar">
                                <button ng-click="mainCtrl.agregarProducto(destacado)">
                                    <!--<img src="./img/boton.png" alt=""/>-->
                                    <span>$</span>{{destacado.precios[0].precio}}
                                </button>
                            </div>
                            <div class="btn-info" ng-click="mainCtrl.showDetails(destacado);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="caverna" class="parallax__group">

        <!--<div >-->
        <div id="lava_06" class="parallax__layer parallax__layer--deeper-4-2"></div>
        <div id="lava_05" class="parallax__layer parallax__layer--deeper-4" style="width:700px"></div>
        <div id="lava_04" class="parallax__layer parallax__layer--deeper-3"></div>
        <div id="lava_03" class="parallax__layer parallax__layer--deeper-2"></div>
        <div id="lava_02" class="parallax__layer parallax__layer--deeper"></div>
        <div id="lava_01" class="parallax__layer parallax__layer--base"></div>
        <!--</div>-->
        <div class="title parallax__layer parallax__layer--base" ng-if="mainCtrl.active_form == 'main';">+VENDIDOS
        </div>
        <div id="vendidos_list" ng-if="mainCtrl.active_form == 'main';">
            <div class="vendidos-inner-list">
                <div class="destacado" ng-repeat="destacado in mainCtrl.vendidos" title="{{destacado.nombre}}">
                    <div class="outline">
                        <div class="producto-nombre">{{destacado.nombre.toUpperCase()}}</div>
                        <img ng-src="./img/{{destacado.fotos[0].nombre}}" alt="{{destacado.nombre}}"/>

                        <div class="btn-group">

                            <div class="btn-comprar">
                                <button ng-click="mainCtrl.agregarProducto(destacado)">
                                    <!--<img src="./img/boton.png" alt=""/>-->
                                    <span>$</span>{{destacado.precios[0].precio}}
                                </button>
                            </div>
                            <div class="btn-info" ng-click="mainCtrl.showDetails(destacado);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="medios" class="parallax__group parallax__layer parallax__layer--base">
        <div></div>
        <div style="justify-content:center;">
            <div class="medio-pago">
                <span>MEDIOS DE PAGO:</span>
            </div>
            <div class="medio-pago">
                <img src="img/medio_07.png" alt="Transferencia" title="Transferencia"/>
                <img src="img/medio_08.png" alt="Deposito Bancario" title="Deposito Bancario"/>
            </div>
            <div class="medio-pago">
                <img src="img/medio_01.png" alt="Mercado Pago" title="Mercado Pago"/>
                <img src="img/medio_02.png" alt="Visa" title="Visa"/>
                <img src="img/medio_03.png" alt="MasterCard" title="MasterCard"/>
            </div>
            <div class="medio-pago">
                <img src="img/medio_04.png" alt="American Express" title="American Express"/>
                <img src="img/medio_05.png" alt="Pago Facil" title="Pago Facil"/>
                <img src="img/medio_06.png" alt="Rapi Pago" title="Rapi Pago"/>
            </div>
        </div>
        <div></div>
    </div>
    <div id="footer" class="parallax__group parallax__layer parallax__layer--base">

        <div class="outer-center footer-outer">
            <div class="inner-center footer-inner">
                <div class="footer-container">
                    <div id="footer-upper">
                        <img src="img/logofooter.png" alt=""/>
                    </div>
                    <div id="footer-lower">
                        <div>
                            <div class="footer-lower-title">NAVEGACIÓN</div>
                            <br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.sucursalesForm();">SUCURSALES</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.ofertasForm();">OFERTAS</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.destacadosForm();">DESTACADOS</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.masVendidosForm();">+VENDIDOS</a><br/>
                        </div>
                        <div>
                            <div class="footer-lower-title">REGISTRO</div>
                            <br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.ingresarCliente();"
                               href="">INGRESAR</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.crearCliente();"
                               href="">REGISTRARSE</a><br/>
                        </div>
                        <div>
                            <div class="footer-lower-title">CARRITO</div>
                            <br/>
                            <!--a class="footer-lower-link">COMPRAS</a><br/-->
                            <a class="footer-lower-link" ng-click="mainCtrl.comprar();">CHECKOUT</a><br/>
                        </div>
                        <div>
                            <div class="footer-lower-title">LEGALES</div>
                            <br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.verLegales(1);">ENVIOS/DEVOLUCIONES</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.verLegales(2);">CONFIDENCIALIDAD</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.verLegales(3);">CONDICIONES DE USO</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.contacto(1);">CONTACTENOS</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.verLegales(4);">¿QUIENES SOMOS?</a><br/>
                        </div>
                        <div>
                            <div class="footer-lower-title">REDES SOCIALES</div>
                            <br/>
                            <a href="https://m.facebook.com/bayresnoproblem.grow" style="color: #000">
                                <img src="img/social_01.png" alt="facebook"/>
                            </a>
                            <a href="https://twitter.com/bayresnoproblem">
                                <img src="img/social_02.png" alt="twitter"/>
                            </a>
                        </div>
                    </div>
                    <div id="copyright">
                        <div >Bayres No Problem © 2015 All Rights Reserved</div>
                        <div >Power By <a href="http://ac-desarrollos.com/" class="ac-desarrollo">AC-Desarrollos</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
<script src="bower_components/ac-angular-carrito/app/carrito.js"></script>
<script src="bower_components/ac-angular-login-carrito/app/login.js"></script>
<script src="bower_components/ac-angular-login-carrito/app/ac-login-ingresar.js"></script>
<script src="app.js"></script>
</body>
</html>